[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/omxplayer -b --win "0 0 640 480" /opt/RDash/startup/loading_video.mp4
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target